@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'NanumSquare', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75rem;
    margin-bottom: 5rem;
  }

  input, textarea, select {
    padding: 0.75rem 1rem;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
  }
  
  input:focus-visible, textarea:focus-visible {
    outline: none;
  }

  input::placeholder {
    font-size: 14px;
  }

  button {
    @apply px-5 py-2 text-nowrap rounded-lg border;
    /* @apply px-5 py-3 text-nowrap rounded-lg border; */
  }
}

@layer components {
  .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1;
  }

  .card-front-back {
    @apply z-10 flex flex-col px-6 py-7 bg-white rounded-[20px] shadow-md;
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform:rotateY(180deg)
  }

  .display-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}