@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Katuri';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  html {
    font-family: 'NanumSquare', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  main {
    @apply flex justify-center items-center mt-[3.75rem] mb-20
  }

  input, textarea, select {
    @apply px-4 py-3 border border-gray_4 rounded-lg
  }
  
  input:focus-visible, textarea:focus-visible {
    @apply outline-none
  }

  input::placeholder {
    @apply text-sm
  }

  button {
    @apply px-5 py-2 text-nowrap rounded-lg border;
  }

  .blind {
    @apply overflow-hidden absolute w-[1px] h-[1px] m-[-1px];
    clip: rect(0, 0, 0, 0);
  }
}

@layer components {
  .card-static-size {
    @apply w-[282px] h-[348px];
  }

  .card-dynamic-size {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .card-front-back {
    @apply z-10 flex flex-col px-6 py-7 bg-white rounded-[20px] shadow-md;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@layer utilities {
  .rotate-y-180 {
    transform:rotateY(180deg)
  }
}