.quillEditor div.ql-container {
  min-height: 500px;
}

.quillEditor strong {
  font-weight: 700;
}

.quillEditor em {
  font-style: italic;
}

.quillEditor a { 
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

/* font-size */
.quillEditor h1 {
  font-size: 1.5rem !important;
}

.quillEditor h2 {
  font-size: 1.25rem !important;
}

.quillEditor h3 {
  font-size: 1.125rem !important;
} 


/* list */
.quillEditor.quillEditor_view ol li {
  list-style: inside decimal;
}

.quillEditor.quillEditor_view ul li {
  list-style: inside disc;
}
